In [3]:
import json
import os
file = 'test-020000.json'
path = './'
test_data = json.load(open(os.path.join(path, file), "r"))

In [9]:
print (list(test_data.keys())[:10])

['306004fc71d611213c425e76a8feade4', '2cf40c461308cde72537a4f45e96642e', '2f32ece5d54297397732951e4128d44b', '801d8c7e72e764378ff07f4a856186b9', 'a3ca8c2bdecdda0abaf381a22270d2a3', 'ea9002a98848a1bafe81df497c4804af', '905a9cb9e43130320be74af7e2b288d6', '807b556c18926e2d67f93d14727b0ecd', '5544a981576dfc7e1f1f4ae0912c9987', '4e1f7687d4d50f2620b3771a668314c3']

In [10]:
for idx, ans in list(test_data.items())[0:10]:
    print (idx, ans)

306004fc71d611213c425e76a8feade4 1958
2cf40c461308cde72537a4f45e96642e Missouri
2f32ece5d54297397732951e4128d44b Muskogee
801d8c7e72e764378ff07f4a856186b9 Dave MacDonald
a3ca8c2bdecdda0abaf381a22270d2a3 Alberta
ea9002a98848a1bafe81df497c4804af Texas
905a9cb9e43130320be74af7e2b288d6 John Wilkes Booth
807b556c18926e2d67f93d14727b0ecd 200 mg
5544a981576dfc7e1f1f4ae0912c9987 Grant County
4e1f7687d4d50f2620b3771a668314c3 shellfish

In [18]:
import pandas as pd
test_pd = pd.DataFrame(data={'id':list(test_data.keys()), 'phrase_pred':list(test_data.values())}, columns=['id', 'phrase_pred'])
test_pd.head(10)

                                 id        phrase_pred
0  306004fc71d611213c425e76a8feade4               1958
1  2cf40c461308cde72537a4f45e96642e           Missouri
2  2f32ece5d54297397732951e4128d44b           Muskogee
3  801d8c7e72e764378ff07f4a856186b9     Dave MacDonald
4  a3ca8c2bdecdda0abaf381a22270d2a3            Alberta
5  ea9002a98848a1bafe81df497c4804af              Texas
6  905a9cb9e43130320be74af7e2b288d6  John Wilkes Booth
7  807b556c18926e2d67f93d14727b0ecd             200 mg
8  5544a981576dfc7e1f1f4ae0912c9987       Grant County
9  4e1f7687d4d50f2620b3771a668314c3          shellfish

In [19]:
col_names = ['id', 'Query', 'Url', 'Answer', 'AnswerTokenList', 'ParaseSpan', 'phrase', 'Label']
origin_dev_data = pd.read_csv('/home/t-honli/data/squad/EQnA_Highlighting_Test.tsv', header=None, sep='\t', names=col_names, dtype=str)
origin_dev_data.head(5)

,id,Query,Url,Answer,AnswerTokenList,ParaseSpan,phrase,Label
0,8a414a5ace75f130bcff2242e8315a64,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",11:11,AWD.This,0
1,a9f07fc2960b1852c05cfe51eb25fab7,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",12:13,has a,0
2,6e85df22537989c3ce5b1737763a6c85,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",14:14,3.5L,0
3,173bc26234f62792432ad5ace1450b97,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",15:15,V6,0
4,c96dc556535df2d5827873847cc8e504,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",19:20,290 HP,1

In [22]:
test_origin = origin_dev_data[origin_dev_data['Label'] == '1']

In [23]:
test_pd_merge = pd.merge(test_origin, test_pd, on='id', how='left')
test_pd_merge.head(5)

,id,Query,Url,Answer,AnswerTokenList,ParaseSpan,phrase,Label,phrase_pred
0,c96dc556535df2d5827873847cc8e504,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",19:20,290 HP,1,290 HP
1,0e813c8e7997766e73d77e28714d32be,2015 michigan withholding tax rate,"http://michigan.gov/taxes/0,4676,7-238-43531--...",The income tax withholding rate remains at 4.2...,"[""The"",""income"",""tax"",""withholding"",""rate"",""re...",7:8,4.25 %,1,4.25 %
2,9b14a5cf11ead145d2b97d1ec3c99c6e,5rr hair color,http://www.walmart.com/ip/Vidal-Sassoon-Pro-Se...,The experts at Vidal Sassoon bring you salon c...,"[""The"",""experts"",""at"",""Vidal"",""Sassoon"",""bring...",22:22,Red,1,Red
3,60b078e27955bf97163020a57902cc8c,acid that burns through skin,http://en.wikipedia.org/wiki/Chemical_burn,Effects depend on the substance: hydrogen pero...,"[""Effects"",""depend"",""on"",""the"",""substance"","":""...",16:17,nitric acid,1,hydrogen peroxide
4,3cd09dce5516535ebb11540064a99be0,acid that burns through skin,http://en.wikipedia.org/wiki/Chemical_burn,Effects depend on the substance: hydrogen pero...,"[""Effects"",""depend"",""on"",""the"",""substance"","":""...",6:7,hydrogen peroxide,1,hydrogen peroxide

In [24]:
test_pd_merge_label = test_pd_merge.pop('Label')

In [27]:
test_pd_merge.insert(len(test_pd_merge.columns), 'Label', test_pd_merge_label)

NameError: name 'test_dp_merge' is not defined

In [30]:
test_pd_merge.head(10)

,id,Query,Url,Answer,AnswerTokenList,ParaseSpan,phrase,phrase_pred,Label
0,c96dc556535df2d5827873847cc8e504,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",19:20,290 HP,290 HP,1
1,0e813c8e7997766e73d77e28714d32be,2015 michigan withholding tax rate,"http://michigan.gov/taxes/0,4676,7-238-43531--...",The income tax withholding rate remains at 4.2...,"[""The"",""income"",""tax"",""withholding"",""rate"",""re...",7:8,4.25 %,4.25 %,1
2,9b14a5cf11ead145d2b97d1ec3c99c6e,5rr hair color,http://www.walmart.com/ip/Vidal-Sassoon-Pro-Se...,The experts at Vidal Sassoon bring you salon c...,"[""The"",""experts"",""at"",""Vidal"",""Sassoon"",""bring...",22:22,Red,Red,1
3,60b078e27955bf97163020a57902cc8c,acid that burns through skin,http://en.wikipedia.org/wiki/Chemical_burn,Effects depend on the substance: hydrogen pero...,"[""Effects"",""depend"",""on"",""the"",""substance"","":""...",16:17,nitric acid,hydrogen peroxide,1
4,3cd09dce5516535ebb11540064a99be0,acid that burns through skin,http://en.wikipedia.org/wiki/Chemical_burn,Effects depend on the substance: hydrogen pero...,"[""Effects"",""depend"",""on"",""the"",""substance"","":""...",6:7,hydrogen peroxide,hydrogen peroxide,1
5,5e736675a4cf4e4e101b80d350328957,actor who plays jamie lannister,http://www.abc.net.au/news/2014-05-26/game-of-...,"Actor Nikolaj Coster-Waldau, the man who plays...","[""Actor"",""Nikolaj"",""Coster"",""-"",""Waldau"","","",""...",1:2,Nikolaj Coster,Nikolaj Coster,1
6,361a0463d50e262107c4f05c529ccd65,actor who plays jamie lannister,http://www.abc.net.au/news/2014-05-26/game-of-...,"Actor Nikolaj Coster-Waldau, the man who plays...","[""Actor"",""Nikolaj"",""Coster"",""-"",""Waldau"","","",""...",4:4,Waldau,Nikolaj Coster,1
7,4a0264dbdb4c573c9813285c285b1519,actress in the dark knight rises,http://en.wikipedia.org/wiki/The_Dark_Knight_R...,The film introduces Selina Kyle (Anne Hathaway...,"[""The"",""film"",""introduces"",""Selina"",""Kyle"",""(""...",6:7,Anne Hathaway,Selina Kyle,1
8,317d5e5a2911e97c2c65a286e1285655,address of cbs television studios,http://en.wikipedia.org/wiki/CBS_Television_City,CBS Television City is a television studio com...,"[""CBS"",""Television"",""City"",""is"",""a"",""televisio...",17:19,7800 Beverly Boulevard,7800,1
9,1145a86c2d86f3d4e99c440b0da89267,afghanistan girl shot in the head,http://www.nytimes.com/video/world/europe/1000...,"Malala Yousafzai, the Pakistani student who wa...","[""Malala"",""Yousafzai"","","",""the"",""Pakistani"",""s...",0:1,Malala Yousafzai,Malala Yousafzai,1

In [ ]:
# Task list：
# 1. label=1, multi phrase   (done
# 2. change eval   (done
# 3. test squad data    (done
# 4. change the output to get top2-3 相交   ()

In [31]:
# 1. How many rows that have the same query, url, answer, label?( 1 context -> 1 quesiotn -> multi phrase)
import hashlib
def GetHashCode(row):
    hash = hashlib.md5()
    hash.update((row['Query'] + ' ' + row['Url'] + ' ' + row['Answer']).encode('utf-8'))
    return hash.hexdigest()
hash_code = test_pd_merge.apply(GetHashCode, axis=1 )
hash_code.head(5)

0    06210e70bddbdccace0f00ffef36ef35
1    f870c62624abb06c852a45c084ad9af4
2    221786a79e2665df05321c1d4a3e6fef
3    ca0442b7ae47d73f32db75ec28043708
4    ca0442b7ae47d73f32db75ec28043708
dtype: object

In [33]:
test_pd_merge.insert(len(test_pd_merge.columns), 'HashCode', hash_code)

ValueError: cannot insert HashCode, already exists

In [34]:
test_pd_merge.head(10)

,id,Query,Url,Answer,AnswerTokenList,ParaseSpan,phrase,phrase_pred,Label,HashCode
0,c96dc556535df2d5827873847cc8e504,2006 acura rl horsepower,http://www.youtube.com/watch?v=kIglC4F7YUo,Start Up & Rev of a 2006 Acura RL SH-AWD.This ...,"[""Start"",""Up"",""&"",""Rev"",""of"",""a"",""2006"",""Acura...",19:20,290 HP,290 HP,1,06210e70bddbdccace0f00ffef36ef35
1,0e813c8e7997766e73d77e28714d32be,2015 michigan withholding tax rate,"http://michigan.gov/taxes/0,4676,7-238-43531--...",The income tax withholding rate remains at 4.2...,"[""The"",""income"",""tax"",""withholding"",""rate"",""re...",7:8,4.25 %,4.25 %,1,f870c62624abb06c852a45c084ad9af4
2,9b14a5cf11ead145d2b97d1ec3c99c6e,5rr hair color,http://www.walmart.com/ip/Vidal-Sassoon-Pro-Se...,The experts at Vidal Sassoon bring you salon c...,"[""The"",""experts"",""at"",""Vidal"",""Sassoon"",""bring...",22:22,Red,Red,1,221786a79e2665df05321c1d4a3e6fef
3,60b078e27955bf97163020a57902cc8c,acid that burns through skin,http://en.wikipedia.org/wiki/Chemical_burn,Effects depend on the substance: hydrogen pero...,"[""Effects"",""depend"",""on"",""the"",""substance"","":""...",16:17,nitric acid,hydrogen peroxide,1,ca0442b7ae47d73f32db75ec28043708
4,3cd09dce5516535ebb11540064a99be0,acid that burns through skin,http://en.wikipedia.org/wiki/Chemical_burn,Effects depend on the substance: hydrogen pero...,"[""Effects"",""depend"",""on"",""the"",""substance"","":""...",6:7,hydrogen peroxide,hydrogen peroxide,1,ca0442b7ae47d73f32db75ec28043708
5,5e736675a4cf4e4e101b80d350328957,actor who plays jamie lannister,http://www.abc.net.au/news/2014-05-26/game-of-...,"Actor Nikolaj Coster-Waldau, the man who plays...","[""Actor"",""Nikolaj"",""Coster"",""-"",""Waldau"","","",""...",1:2,Nikolaj Coster,Nikolaj Coster,1,0c338aaf5714e866baecdc47a3b0f825
6,361a0463d50e262107c4f05c529ccd65,actor who plays jamie lannister,http://www.abc.net.au/news/2014-05-26/game-of-...,"Actor Nikolaj Coster-Waldau, the man who plays...","[""Actor"",""Nikolaj"",""Coster"",""-"",""Waldau"","","",""...",4:4,Waldau,Nikolaj Coster,1,0c338aaf5714e866baecdc47a3b0f825
7,4a0264dbdb4c573c9813285c285b1519,actress in the dark knight rises,http://en.wikipedia.org/wiki/The_Dark_Knight_R...,The film introduces Selina Kyle (Anne Hathaway...,"[""The"",""film"",""introduces"",""Selina"",""Kyle"",""(""...",6:7,Anne Hathaway,Selina Kyle,1,9c3c03a7981ad787ae6b4fbdd69d99b1
8,317d5e5a2911e97c2c65a286e1285655,address of cbs television studios,http://en.wikipedia.org/wiki/CBS_Television_City,CBS Television City is a television studio com...,"[""CBS"",""Television"",""City"",""is"",""a"",""televisio...",17:19,7800 Beverly Boulevard,7800,1,787e7b262c738e9171a3bc4377d87653
9,1145a86c2d86f3d4e99c440b0da89267,afghanistan girl shot in the head,http://www.nytimes.com/video/world/europe/1000...,"Malala Yousafzai, the Pakistani student who wa...","[""Malala"",""Yousafzai"","","",""the"",""Pakistani"",""s...",0:1,Malala Yousafzai,Malala Yousafzai,1,997ea4c6dc34298967695dd47dd41df1

In [41]:
from collections import Counter
count = Counter(test_pd_merge['HashCode'].tolist())
dultiple_cnt = 0
dultiple_sum = 0
for idx, cnt in list(count.items()):
    if cnt > 1:
        dultiple_cnt += 1
        dultiple_sum += cnt
print ('dultiple num', dultiple_cnt)
print ('dultiple sum', dultiple_sum)
print ('extra num', dultiple_sum - dultiple_cnt)
print ('totoal num', len(test_pd_merge))

dultiple num 779
dultiple sum 2320
extra num 1541
totoal num 3583

In [42]:
# check id dultiple
count = Counter(test_pd_merge['id'].tolist())
dultiple_cnt = 0
dultiple_sum = 0
for idx, cnt in list(count.items()):
    if cnt > 1:
        dultiple_cnt += 1
        dultiple_sum += cnt
print ('dultiple num', dultiple_cnt)
print ('dultiple sum', dultiple_sum)
print ('extra num', dultiple_sum - dultiple_cnt)
print ('totoal num', len(test_pd_merge))

dultiple num 0
dultiple sum 0
extra num 0
totoal num 3583

In [43]:
# check Url and Answer is dultiple ( 1 context -> 1 question)
import hashlib
def GetHashCode(row):
    hash = hashlib.md5()
    hash.update((row['Url'] + ' ' + row['Answer']).encode('utf-8'))
    return hash.hexdigest()
hash_code = test_pd_merge.apply(GetHashCode, axis=1 )

from collections import Counter
count = Counter(test_pd_merge['HashCode'].tolist())
dultiple_cnt = 0
dultiple_sum = 0
for idx, cnt in list(count.items()):
    if cnt > 1:
        dultiple_cnt += 1
        dultiple_sum += cnt
print ('dultiple num', dultiple_cnt)
print ('dultiple sum', dultiple_sum)
print ('extra num', dultiple_sum - dultiple_cnt)
print ('totoal num', len(test_pd_merge))

dultiple num 779
dultiple sum 2320
extra num 1541
totoal num 3583

In [ ]:
# 2. change evaluation and check the phrase